#Node environment
#NODE_ENV=development

# Port number
PORT=PORT

# URL of the DB
# URL of the postgreSQL local: postgres://username:password@hostName:port/databaseName

# URL of the Postgres Server
POSTGRESQL_PASSWORD=POSTGRESQL_PASSWORD
POSTGRESQL_USERNAME=POSTGRESQL_USERNAME
POSTGRESQL_HOSTNAME=POSTGRESQL_HOSTNAME
POSTGRESQL_PORT=PORT
POSTGRESQL_DB=POSTGRESQL_DB

# JWT
# JWT secret key
JWT_SECRET=YOUR_SECRET_KEY
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=YOUR_TIME
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=YOUR_TIME
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=YOUR_TIME
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=YOUR_TIME

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=SMTP_HOST
SMTP_PORT=SMTP_PORT
SMTP_USERNAME=SMTP_USERNAME
SMTP_PASSWORD=SMTP_PASSWORD
EMAIL_FROM=support@yourapp.com